<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="fondo content-wrapper">
    <!-- perfil -->
    <div class="perfil mt-5" *ngIf="isEdited === true"> <!-- la clase perfil está en el css -->

        <!-- Profile Image -->
        <div class=" card card-outline">
            <div class="perfil-colores"> <!-- esto es una solucion fea pero funciona -->
                .
            </div>
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="../assets/img/default-admin.png"
                        alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{usuario.name}} {{usuario.last_name}}</h3>

                <p class="text-muted text-center">Administrador</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <i class="fas fa-solid fa-envelope"></i> <b class="mx-3">Email</b> <span
                            class="float-right">{{usuario.email}}</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-regular fa-mobile"></i> <b class="mx-3">Teléfono</b> <span
                            class="float-right">{{usuario.telefono}}</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-solid fa-id-card"></i> <b class="mx-3">Cédula</b> <span
                            class="float-right">{{usuario.cedula}}</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-solid fa-house-user"></i><b class="mx-3">Dirección</b> <span
                            class="float-right">{{usuario.direccion}}</span>
                    </li>
                </ul>

                <a class="boton-color btn  btn-block" (click)="editarPerfil()"><b>Editar información de perfil</b></a>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card">
            <div class="info-colores card-header">
                <h3 class="card-title">Información</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <!-- <strong><i class="fas fa-book mr-1"></i> Education</strong>

            <p class="text-muted">
              B.S. in Computer Science from the University of Tennessee at Knoxville
            </p> -->

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Ubicación</strong>

                <p class="text-muted">{{usuario.referencia}}</p>

                <hr>

                <!-- <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

            <p class="text-muted">
              <span class="tag tag-danger">UI Design</span>
              <span class="tag tag-success">Coding</span>
              <span class="tag tag-info">Javascript</span>
              <span class="tag tag-warning">PHP</span>
              <span class="tag tag-primary">Node.js</span>
            </p> -->

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                <p class="text-muted">Faltan un chance mas de cosas y el editar. Lo de la  ubicación debe ir con lo del mapa pero eso se hace despues.</p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>

    <!-- editar informacion de perfil -->

    <div class="perfil card mt-5" *ngIf="isEdited === false">
        <div class="perfil-colores card-header">
          <h3 class="texto card-title"><i class="fas fa-solid fa-arrow-left" style="margin-right: 10px;" (click)="regresar()"></i> Editar información</h3>
        </div>

        <div class="card-body">
            <form [formGroup]="formEmail" action="" class="formulario">
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-solid fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" formControlName="email">
                    <br>
                   
                </div>

                <div class="alert alert-danger" role="alert"
                    *ngIf="formEmail.get('email')?.touched && formEmail.get('email')?.errors?.['required']">
                    Campo requerido
                </div>
                <div class="alert alert-danger" role="alert"
                    *ngIf="formEmail.get('email')?.touched && formEmail.get('email')?.errors?.['email']">
                    Email requerido
                </div>

                <div class="boton-flex">
                    <a class="boton-color boton-editar btn" (click)="editarEmail(formEmail.value)"><b>Editar email</b></a>
                </div>
                
            </form>
    
            <form action="" [formGroup]="formPassword">
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-solid fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Password" formControlName="password">
                </div>

                <div class="alert alert-danger" role="alert"
                    *ngIf="formPassword.get('password')?.touched && formPassword.get('password')?.errors?.['required']">
                    Campo requerido
                </div>

                <div class="boton-flex">
                    <a class="boton-color btn" (click)="editarPassword(formPassword.value)"><b>Editar contraseña</b></a>
                </div>
            </form>
        </div>
        <!-- /.card-body -->

        <!-- <div class="card-footer">
            usar en caso de emergencia
        </div> -->
    
    </div>

</div>
<app-footer></app-footer>