<header>
    <div class="container">
        <a href="#" class="navbar-logo1">DELI</a>
        <a href="#" class="navbar-logo2">GO</a>
      <div class="main_nav">
        <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
        <nav>
          <ul>
            <li><a class="smoothscroll" href="#about">Login</a></li>
            <li><a class="smoothscroll" href="#features">Registro</a></li>
            <li><a class="smoothscroll" href="#contact">Sobre Nosotros</a></li>
          </ul>
        </nav>
      </div>
      <div class="row hero">
        <div class="eight columns">
          <h1 class="header">Lorem Ipsum.</h1>
          <h2 class="subheader">At vero eos et accusamus et iusto odio dignissimos</h2>
          <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a href="#"><img src="https://jeffbredenkamp.neocities.org/app-store-badge.png" class="appstorebutton btn" alt="Download on Apple Store"></a> <a href="#"><img src="https://jeffbredenkamp.neocities.org/google-play-badge.png" class="appstorebutton btn" alt="Download on Google Play"></a> </div>
        <div class="four columns"> <img src="https://jeffbredenkamp.neocities.org/phone2.png" class="phone device" alt="phone mockup"> </div>
      </div>
    </div>
  </header>
  
  <!-- Footer Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer>
    <div class="container">
      <div class="six columns"> <span class="typcn typcn-social-facebook socialIcons"></span> <span class="typcn typcn-social-twitter socialIcons"></span> <span class="typcn typcn-social-instagram socialIcons"></span> <span class="typcn typcn-social-linkedin socialIcons"></span> </div>
      <div class="six columns">
        <p>&copy; 2016</p>
        <img src="https://www.freeiconspng.com/thumbs/youtube-logo-png/hd-youtube-logo-png-transparent-background-20.png" alt="">
      </div>
    </div>
  </footer>