<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper bg-dark">
<app-breadcrumbs></app-breadcrumbs>
<div class="container  h-90 w-70" style="margin: auto ;">
    <div class="row d-flex justify-content-center align-items-center h-60 w-50" style="margin: auto ; margin-top: 50px;">
        <div class="col-10 col-md-12 col-lg-12 col-xl-12" style="margin: auto;">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <form [formGroup]="_form">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">
                            <div class="row">
                                <h2 class="fw-bold mb-2 text-uppercase">Registro Producto</h2>


                                <div class="col-6">
                                    <div class="form-outline form-white mb-4 ">
                                        <input type="text" class="form-control form-control-md" formControlName="nombre" />
                                        <label class="form-label" for="typeEmailX">Nombre</label>
                                        <div class="alert alert-danger" role="alert" *ngIf="_form.get('nombre')?.touched && _form.get('nombre')?.errors?.['required'] ">
                                            CAMPO REQUERIDO
                                        </div>
                                    </div>
                                </div>


                                <div class="col-6">
                                    <div class="form-outline form-white mb-4">
                                        <input type="text" class="form-control form-control-md" formControlName="precio" />
                                        <label class="form-label" for="typePasswordX">Precio</label>
                                        <div class="alert alert-danger" role="alert" *ngIf="_form.get('precio')?.touched && _form.get('precio')?.errors?.['required'] ">
                                            CAMPO REQUERIDO
                                        </div>
                                    </div>
                                </div>


                                <div class="col-6">
                                    <div class="form-outline form-white mb-4 ">
                                        <input type="text" class="form-control form-control-md" formControlName="peso" />
                                        <label class="form-label" for="typeEmailX">peso</label>
                                        <div class="alert alert-danger" role="alert" *ngIf="_form.get('peso')?.touched && _form.get('peso')?.errors?.['required'] ">
                                            CAMPO REQUERIDO
                                        </div>
                                    </div>
                                </div>


                                <div class="col-6">
                                    <div class="form-outline form-white mb-4 ">
                                        <input type="text" class="form-control form-control-md" formControlName="stock" />
                                        <label class="form-label" for="typeEmailX">Stock</label>
                                        <div class="alert alert-danger" role="alert" *ngIf="_form.get('stock')?.touched && _form.get('stock')?.errors?.['required'] ">
                                            CAMPO REQUERIDO
                                        </div>
                                    </div>
                                </div>


                                <div class="col-6">
                                    <div class="form-outline form-white mb-4 ">
                                        <input type="text" class="form-control form-control-md" formControlName="imagen" />
                                        <label class="form-label" for="typeEmailX">Imagen</label>
                                        <div class="alert alert-danger" role="alert" *ngIf="_form.get('imagen')?.touched && _form.get('imagen')?.errors?.['required'] ">
                                            CAMPO REQUERIDO
                                        </div>
                                    </div>
                                </div>


                                <div class="col-6">
                                    <div class="form-outline form-white mb-4"  >
                        
                                      <select class="form-select" aria-label="Default select example" formControlName="id_categoria">
                                        <!--  <option *ngFor="let item of tipo" value="{{item.id}}"> {{item.tipo}} </option> -->
                                      </select>
                                      <label class="form-label" for="typeEmailX">Id_Categoria</label>
                                   </div>
                                </div>


                                <div class="col-6">
                                    <div class="form-outline form-white mb-4"  >
                        
                                      <select class="form-select" aria-label="Default select example" formControlName="id_marca">
                                        <!--  <option *ngFor="let item of tipo" value="{{item.id}}"> {{item.tipo}} </option> -->
                                      </select>
                                      <label class="form-label" for="typeEmailX">Id_Marca</label>
                                   </div>
                                </div>


                                <div class="col-6">
                                    <div class="form-outline form-white mb-4"  >
                        
                                      <select class="form-select" aria-label="Default select example" formControlName="id_tipo_peso">
                                        <!--  <option *ngFor="let item of tipo" value="{{item.id}}"> {{item.tipo}} </option> -->
                                      </select>
                                      <label class="form-label" for="typeEmailX">Id_Tipo_Peso</label>
                                   </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </form>
                <button class="btn btn-outline-light btn-lg px-5" type="registrar" (click)="store(_form.value)">registro</button>
            </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>


