body{
    background-color: #f8f8f8;
}

.fondo-verde{
    background-color: #59B220;
}

.fondo-naranja{
    background-color: #F7881F;
}

.margen-tabla{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%; 
    background-color: #f8f8f8;
}

.boton-add{
    display: flex;
    justify-content: right;
}

.boton-color{
    background-color: #F7881F;
    color: #F8F8F8;
}

.margen-in{
    margin-top: 10px;
    padding: 10px;
}

.colores-form{
    background-color: #59B220;
}

.img-w-h{
    max-width: 50px !important;
    max-height: 50px !important;
}

.tabla-cent{
    text-align: center;
}