
<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Tabla de Pedidos</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a >Home</a></li>
                <li class="breadcrumb-item active">Tabla de Pedidos</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Tabla de pedidos entregados</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th># Pedido</th>
                              <th>Fecha</th>
                              <th>Repartidor</th>
                              <th>Destinatario</th>
                              <th>Forma de Pago</th>
                              <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let e of entregados | pipePedido:pageE ">
                              <td>{{e.numero_pedido}}</td>
                              <td>{{e.fecha_venta}}</td>
                              <td>{{e.repartidor}} {{e.repartidor_lastname}}</td>
                              <td> {{e.destinatario[0].name}} {{e.destinatario[0].last_name}}</td>
                              <td>{{e.forma_pago}}</td>
                              <td>{{e.total}}</td>
                            </tr>
                          </table>
                          <div style="margin-top: 10px;">
                            <button type="button" class="btn btn-success btn-sm" (click)="previousPage_entregados()">Anterior</button>
                          &nbsp;
                          <button type="button" class="btn btn-success btn-sm"(click)="nextPage_entregados()">Siguiente</button>
                          </div>
                        </div>

                        <!-- /.card-body -->
                      </div>



                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Tabla de pedidos Por Entregar</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th># Pedido</th>
                                    <th>Fecha</th>
                                    <th>Repartidor</th>
                                    <th>Destinatario</th>
                                    <th>Forma de Pago</th>
                                    <th>Total</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let e of por_entregar | pipePedido:pageP">
                                    <td>{{e.numero_pedido}}</td>
                                    <td>{{e.fecha_venta}}</td>
                                    <td>{{e.repartidor}} {{e.repartidor_lastname}}</td>
                                    <td>{{e.destinatario[0].name}} {{e.destinatario[0].last_name}}</td>
                                    <td>{{e.forma_pago}}</td>
                                    <td>{{e.total}}</td>
                                  </tr>
                          </table>
                          <div style="margin-top: 10px;">
                            <button type="button" class="btn btn-success btn-sm" (click)="previousPage_Porentregar()">Anterior</button>
                          &nbsp;
                          <button type="button" class="btn btn-success btn-sm"(click)=" nextPage_Porentregar()">Siguiente</button>
                          </div>
                          
                        </div>
                        <!-- /.card-body -->
                      </div>

                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Tabla de pedidos En curso</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th># Pedido</th>
                                    <th>Fecha</th>
                                    <th>Repartidor</th>
                                    <th>Destinatario</th>
                                    <th>Forma de Pago</th>
                                    <th>Total</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let e of en_curso | pipePedido:pageC">
                                    <td>{{e.numero_pedido}}</td>
                                    <td>{{e.fecha_venta}}</td>
                                    <td>{{e.repartidor}} {{e.repartidor_lastname}}</td>
                                    <td> {{e.destinatario[0].name}} {{e.destinatario[0].last_name}}</td>
                                    <td>{{e.forma_pago}}</td>
                                    <td>{{e.total}}</td>
                                  </tr>
                          </table>
                          <div style="margin-top: 10px;">
                            <button type="button" class="btn btn-success btn-sm" (click)="previousPage_Encurso()" >Anterior</button>
                          &nbsp;
                          <button type="button" class="btn btn-success btn-sm"  (click)="nextPage_Encurso()">Siguiente</button>
                          </div>
                        </div>
                        <!-- /.card-body -->
                      </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>


