<body class="hold-transition bg-dark padd">
    <!-- Main content -->
    <section class="content bg-dark">
      <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! pagina no encontrada.</h3>

          <p>
            La pagina no se ha encontrado revisa la direccion
          </p>

          <a href=""><button class="btn btn-warning">Volver al incio</button></a>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
</body>